@using SocialNetwork.ViewModels;
@model StoryViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <ul class="story-container col-md-12">
        @foreach (var item in Model.UserStories)
        {
            <li class="story-card col-md-2">
                <p>@item.Title</p>
                <a href="~/Story/Details/@item.Id" title="Details"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                <a href="~/Story/Edit/@item.Id" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
        }

        <li class="story-card story-card-add col-md-2"><a href="~/Story/Create/" title="Create"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="pagination">
        @for (int i = 1; i <= Model.pageCount; i++)
        {
            <li>@Html.ActionLink(i.ToString(), "Index", "Story", new { page = i.ToString() }, null)</li>
        }
    </ul>
</div>
